@import url('https://fonts.googleapis.com/css?family=Fira+Mono|Share+Tech+Mono|VT323');
@import './variables';

html,
body,
.app-root,
.app-container {
  display: flex;
  margin: 0;
  padding: 0;

  width: 100%;
  height: 100%;

  font-family: 'Share Tech Mono', monospace;
  font-size: 16px;
  -webkit-font-smoothing: none;
  box-sizing: border-box;
  background: $background;
}
.app-border {
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  box-sizing: border-box;
  border: 2px solid gray;
}
