$text-color: #9bc1ff;
$background: #010201;
@mixin font {
  color: $text-color;
  text-shadow: 0 0 7px $text-color;
  font-family: 'Share Tech Mono', monospace;
  font-size: 16px;
  -webkit-font-smoothing: none;
}
